@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* New color palette */
    --dark: 180 9% 7%; /* 0f1718 */
    --light-1: 0 6% 97%; /* f8f7f7 */
    --light-2: 0 5% 96%; /* f7f5f5 */
    --blue: 204 70% 46%; /* 2381c8 */
    --green: 157 77% 40%; /* 17b770 */

    --background: var(--light-1);
    --foreground: var(--dark);

    --card: 0 0% 100%;
    --card-foreground: var(--dark);

    --popover: 0 0% 100%;
    --popover-foreground: var(--dark);

    --primary: var(--blue);
    --primary-foreground: var(--light-1);

    --secondary: var(--green);
    --secondary-foreground: var(--light-1);

    --muted: var(--light-2);
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: var(--light-2);
    --accent-foreground: var(--dark);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: var(--light-2);
    --input: var(--light-2);
    --ring: var(--blue);

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
